.footer {
	background-color: $color-dark-grey-3;
	color: $color-grey-light-1;
	padding: 10rem 0;
	font-size: 1.4rem;

	&__logo-box {
		text-align: center;
		margin-bottom: 8rem;
	}

	&__logo {
		width: 15rem;
	}

	&__navigation {
		border-top: 0.1rem solid $color-dark-grey;
		padding-top: 2rem;
		display: inline-block;
	}

	&__list {
		list-style: none;
	}

	&__item {
		display: inline-block;

		&:not(:last-child) {
			margin-right: 1.5rem;
		}
	}

	&__link {
		&:link,
		&:visited {
			color: inherit;
			text-decoration: none;
			text-transform: uppercase;
			display: inline-block;
			transition: all 0.2s;
		}

		&:hover,
		&:active {
			color: $color-primary;
			box-shadow: 0 1rem 2rem rgba($color-dark, 0.4);
			transform: skewY(5deg) scale(1.3);
		}
	}

	&__copyright {
		border-top: 0.1rem solid $color-dark-grey;
		padding-top: 2rem;
		width: 80%;
		float: right;
	}
}
