.btn {
	&:link,
	&:visited {
		text-decoration: none;
		text-transform: uppercase;
		display: inline-block;
		padding: 1.5rem 4rem;
		border-radius: 10rem;
		transition: all 0.2s;
		position: relative;
		font-size: 1.6rem;
	}

	&--animated {
		animation: moveInBottom 1s ease-out 0.75s;
		animation-fill-mode: backwards;
	}

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 1rem 2rem rgba($color-dark, 0.2);
	}

	&:active {
		transform: translateY(-1px);
		box-shadow: 0 0.5rem 1rem rgba($color-dark, 0.2);
	}

	&--white {
		background-color: $color-white;
		color: $color-dark-grey;

		&::after {
			background-color: $color-white;
		}

		&:hover::after {
			transform: scale(1.5);
			opacity: 0;
		}
	}

	&::after {
		content: '';
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		transition: all 0.4s;
		z-index: -1;
	}
}