.form {
	&__group:not(:last-child) {
		margin-bottom: 2rem;
	}

	&__input {
		font-size: $default-font-size;
		font-family: inherit;
		color: inherit; // since color & font-family is not inherited by-default by input-elements so we need to specify "inherit"
		padding: 1.5rem 2rem;
		border-radius: 3px;
		background-color: rgba($color-white, 0.85);
		border: none;
		border-bottom: 3px solid transparent;
		width: 90%;
		display: block;
		transition: all 0.4s;

		&:focus {
			outline: none;
			border-bottom: 3px solid $color-primary;
		}

		// styles to apply when input-element => value is invalid
		&:focus:invalid {
			border-bottom: 3px solid $color-secondary-dark;
		}

		// we can style placeholder of input-element with ::-webkit-input-placeholder
		&::-webkit-input-placeholder {
			color: $color-dark-grey-2;
		}

		// &:focus::-webkit-input-placeholder {
		// 	visibility: hidden;
		// }
	}

	&__label {
		font-size: $font-size-small;
		font-weight: 700;
		margin-left: 2rem;
		margin-top: 0.7rem;
		display: block;
		transition: all 0.2s;
	}

	// sibling selector "~"
	&__input:placeholder-shown ~ &__label {
		opacity: 0;
		transform: translateY(-4rem);
	}

	// &__input:focus ~ &__label {
	// 	opacity: 1;
	// 	transform: translateY(-9rem);
	// }

	// styling radio-buttons
	&__radio-group {
		width: 49%;
		display: inline-block;
	}

	&__radio-input {
		display: none;
		// opacity: 0;
	}

	&__radio-label {
		font-size: $default-font-size;
		cursor: pointer;
		position: relative;
		padding-left: 4.5rem;
	}

	&__radio-button {
		height: 3rem;
		width: 3rem;
		border: 0.5rem solid $color-primary;
		border-radius: 50%; // to make circular
		display: inline-block;
		position: absolute;
		top: -0.4rem;
		left: 0;

		&::after {
			content: '';
			display: block;
			height: 1.3rem;
			width: 1.3rem;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: $color-primary;
			opacity: 0;
			transition: all 0.2s;
		}
	}

	&__radio-input:checked ~ &__radio-label > &__radio-button::after {
		opacity: 1;
	}
}
