.story {
	width: 75%;
	margin: 0 auto;
	background-color: rgba($color-white, 0.6);
	padding: 6rem;
	box-shadow: 0 3rem 6rem rgba($color-dark, 0.1);
	border-radius: 0.3rem;
	padding-left: 9rem;
	font-size: $default-font-size;
	transform: skewX(-12deg);

	&__shape {
		width: 15rem;
		height: 15rem;
		float: left;
		-webkit-shape-outside: circle(50% at 50% 50%);
		shape-outside: circle(50% at 50% 50%);
		-webkit-clip-path: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%); // to give circular shape
		transform: translateX(-3rem) skewX(12deg);
		position: relative;
	}

	&__text {
		transform: skewX(12deg);
	}

	&__img {
		height: 100%;
		transform: translateX(-3.8rem) scale(1.4); // scaled-up initially
		transition: all 0.5s;
		backface-visibility: hidden;
	}

	&__caption {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 20%);
		opacity: 0; // not visible initially
		color: $color-white;
		text-transform: uppercase;
		font-size: 1.7rem;
		text-align: center;
		transition: all 0.5s;
		backface-visibility: hidden;
	}

	&:hover &__caption {
		transform: translate(-50%, -50%);
		opacity: 1; // visible at hover
	}

	&:hover &__img {
		transform: translateX(-3.8rem) scale(1);
		filter: blur(3px) brightness(80%);
	}
}
